<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="application" connectionString="data source=23.111.74.10;Initial Catalog=LAB_WH;user id=Portal_lab;password=Y$hhg#$hh122; Pooling=true;Min Pool Size=20;Max Pool Size=100;Connection Lifetime=120;Connection Timeout=60;" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:MaxHttpCollectionKeys" value="5000" />
    <add key="provider-type" value="System.Data.SqlClient" />
    <add key="DaysLeftToforcePassword" value="90" />
    <add key="TimeForVariableSessionTimeOut" value="120" />
    <add key="appPath" value=":39655/WebPortal.UI/" />
    <add key="ForgetPasswordUrl" value="http://hhdemo.crededev.com/ForgetPassword.aspx" />
    <add key="http" value="http://" />
    <add key="WebSiteUrl" value="http://hhdemo.crededev.com/" />
    <add key="Company_Name" value="Crede" />
    <!--whether the email service has been on or off: 1 for ON and 0 for OFF  -->
    <add key="isEmail" value="1" />
    <!--mail address of admin -->
    <add key="system_email_sender" value="donotreply@credetechnologies.com" />
    <!--password of sender address -->
    <add key="system_email_sender_password" value="Crede@2017" />
    <!--mail address of admin -->
    <add key="system_email_receiever" value="support@credetechnologies.com" />
    <!--SMTP mail Server IP -->
    <add key="MailServerIP" value="smtp.gmail.com" />
    <!-- OUT GOING PORT gmail -->
    <add key="OUT_PORT" value="587" />
    <!--Authenticated SMTP -->
    <add key="AuthenticatedSMTP" value="Yes" />
    <!--Set Common Message For In case of Error -->
    <add key="ErrorMsg" value="System Could not perform the Operation,Please Try again Later" />
    <!--<add key="ReportServerUsername" value=""/>
    <add key="ReportServerPassword" value=""/>
    <add key="ReportServerURL" value=""/>-->
    <add key="ReportServerUsername" value="administrator" />
    <add key="ReportServerPassword" value="CredeAdmin@2019-NcSr@2021" />
    <add key="ReportServerURL" value="http://67.231.20.42/ReportServer" />
    <add key="SecurityRedirectPath" value="../Default.aspx" />
    <add key="Email_Format_AllowedDevice" value="C:\Users\Rohan\Documents\Bit bucket Working\mb_hh\WebPortal\Email_Format_AllowedDevice.txt" />
    <add key="Email_Format_Report" value="C:\Users\shali\Documents\Crede\mb_hh\WebPortal\Email_Format_Report.txt" />
    <add key="Email_Subject_Format_Report" value="C:\Users\Rohan\Documents\Bit bucket Working\mb_hh\WebPortal\Email_Subject_Format_Report.txt" />
    <add key="Email_Subject_AllowedDevice" value="Verification Code for Crede Clean Hands application." />
    <add key="URL_AllowedDevice" value="http://hhdemo.crededev.com/" />
    <add key="ErrorLogPath" value="C:\Users\Rohan\Documents\Bit bucket Working\mb_hh\WebPortal\ErrorLog.txt" />
    <add key="PageForSessionAlert" value="/WebPortal.UI/JavaScriptMessageBox/popConfirmationUI.aspx?val=" />
    <add key="TEMP_PATH_BARCODE" value="C:\\TemporaryPDFPortal\" />
    <add key="Product" value="wentworth-halton" />
    <!--portal name-->
    <add key="PortalName" value="HH-DEMO" />
    <!--developer 1 name-->
    <add key="Deleloper_1" value="support@credetechnologies.com" />
    <!--<add key="PageForSessionAlert" value="/JavaScriptMessageBox/popConfirmationUI.aspx?val="/>-->
    <!--Version Number-->
    <add key="SurveyEmailSpoofing" value="donotreply@credetechnologies.com" />
    <add key="NotificationEmailSpoofing" value="donotreply@credetechnologies.com" />
    <add key="VersionNumber" value="0.1" />
    <!-- Valid values are those defined in the LogEventLevel enumeration: Verbose, Debug, Information, Warning, Error, Fatal. -->
    <add key="serilog:minimum-level" value="Information" />
    <add key="EnableAcitvityFollow" value="True" />
    <add key="SaltForAES" value="9ew7LKOFUdaPLJ7bqT2Zc31NfG2PlzFd" />
    <!--SecretKey to generate JWT Tokens. Don't expose this value-->
    <add key="SecretKey" value="8FGhSQe7vvNnKK0VlTeTKHttmiZYCeUa5B8lAhSblayufzJhRpJf1i4cBmIlb5DT8vJl7pAZUAxGd18JhO4hvkQn80PihUU9bfja" />
    <!--configure token check expiration time-->
    <add key="TokenCanExpired" value="false" />
    <!--JWT Token expired time in minutes-->
    <add key="TokenLifeTime" value="20" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SessionExpireUI.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <customErrors defaultRedirect="ErrorPage.aspx" mode="Off" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxQueryStringLength="200000" maxRequestLength="73400320" requestValidationMode="2.0" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="~/hld_reprocessing_log.aspx" slidingExpiration="true" protection="All" timeout="60" />
    </authentication>
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1" />
    <membership defaultProvider="OdbcProvider" userIsOnlineTimeWindow="15">
      <providers>
        <add name="OdbcProvider" type="Portal.Provider.PortalMembershipProvider" connectionStringName="application" enablePasswordRetrieval="true" enablePasswordReset="false" requiresQuestionAndAnswer="false" writeExceptionsToEventLog="false" passwordAttemptWindow="1" passwordFormat="Hashed" />
      </providers>
    </membership>
    <roleManager defaultProvider="OdbcRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="OdbcRoleProvider" type="Portal.Provider.PortalRoleProvider" connectionStringName="application" applicationName="SampleApplication" writeExceptionsToEventLog="false" />
      </providers>
    </roleManager>
    <identity impersonate="true" />
    <httpHandlers>
      <add path="*.js" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
      <add path="*.css" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
      <add path="*" verb="*" type="System.Web.HttpNotFoundHandler" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="Reserved-ReportViewerWebControl-axd" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="JavaScript" path="*.js" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
      <add name="CSS" path="*.css" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="BundleModule" type="System.Web.Optimization.BundleModule" />
    </modules>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
        <add value="hld_reprocessing_log.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.45.0.0" newVersion="4.45.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.21.0.0" newVersion="6.21.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>